body {
  font-family: Inter, sans-serif;
  margin:0;
  padding:0;
}

.navbar-container {
  display:flex;
  align-items: center;
  justify-content: center;
  height:10vh;
  width: 100vw;
  gap:6px;
  background-color: #F55A5A;
}

.logo {
  width: 30px;
  height:30px;
  fill:white;
}

.first-h2 {
  color:white;
  font-weight: 500;
}

.img {
  width: 180px;
  height:245px;
  border-radius: 5px;
}

.pointer {
  width: 30px;
  height: 20px;
}

.main-container {
  display: flex;
  margin-top:60px;
  padding-left:50px;
}

.upper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.right-container {
  display:flex;
  flex-direction: column;
  margin-left:20px;
}

.location {
  letter-spacing: 0.2em;
}

.title {
  margin-top:-5px;
  margin-left:5px;
}

.link {
  color:grey;
  padding-left:10px;
}

.date {
  font-weight: bolder;
  margin-left:5px;
}

.description {
  margin-left:5px;
}

.line {
  width:1000px;
  height:1px;
  background: #F5F5F5;
}

/*Make site responsive later*/
@media (max-width:500px) {
  body {
    margin:0px;
    padding:0px;
  }

  .navbar-container {
    display:flex;
    align-items: center;
    justify-content: center;
    height:10vh;
    flex-wrap:wrap;
    width:100%;
  }

  .main-container {
    display:flex;
    margin-left:-20px;
    width:90%;
  }

  .right-container {
    margin-left:-1px;
  }

  h1 {
    font-size:20px;
  }

  p {
    font-size: 10px;;
  }
  
  .img {
    height:150px;
    width:105px;
  }
} 